body {
    background-color: #323131;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 10%;
    margin: 12vh auto 0 auto;
}

.logo {
    color: white;
    font-size: 35px;
}

.button {
    display: flex;
    cursor: pointer;
    background-color: #323131;
    width: 130px;
    height: 35px;
    border: solid white 1px;
    border-radius: 10px;
    transition: opacity .3s;
}

.touchButton {
    display: block;
    animation: touchBlink .5s linear;
}

@keyframes touchBlink {
    /* from {background-color: #525252;}
    to {background-color: #323131;} */
    from {opacity: 1;}
    to {opacity: 0;}
}

.button:hover {
    opacity: .6;
}

.textButton {
    margin: auto;
    color: white;
    font-size: 14px;
}

.card {
    display: block;
    background-color: rgba(240, 248, 255, 0);
    position: relative;
    width: 60%;
    height: 380px;
    margin: 30px auto;
}

.start {
    display: block;
    height: 10vh;
    padding-top: 40px;
    text-align: center;
}

.startString1 {
    display: inline;
    vertical-align: middle;
    color: white;
    font-size: 35px;
}

.startString2 {
    display: inline;
    vertical-align: middle;
    color: white;
    font-size: 35px;
    animation: blink1 1.7s linear infinite; 
}

@keyframes blink1 {  
	0% {color: white;}
	50% {color: #323131}
	100% {color: white;}
}

.artistCard {
    display: block;
    padding-top: 15px;
    margin: auto;
    width: 40%;
    text-align: center;
}

/* @keyframes slide {
    from {
        margin: auto;
        padding-top: 15px;
    }
    to {
        margin: 0;
        padding-top: 50px;
    }
} */

.show1 {
    display: block;
    animation: showBlock1 .5s linear forwards;
}

@keyframes showBlock1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

.show2 {
    display: block;
    animation: showBlock2 .5s linear forwards;
}

@keyframes showBlock2 {
    from {opacity: 1;}
    to {opacity: 0;}
}

.images {
    display: block;
    margin: auto;
    width: 250px;
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15 {
    display: none;
    border-radius: 10px;
    border: solid white 1px;
    width: 100%;
    box-shadow: 4px 4px 3px white;
}

.artistInfo {
    display: inline;
    position: relative;
    top: 10px;
    color: white;
    vertical-align: middle;
    font-size: 14px;
}

.cursor {
    display: inline;
    position: relative;
    top: 10px;
    color: white;
    vertical-align: middle;
    animation: blink2 .8s infinite; 
}

@keyframes blink2 {  
	0% {color: white;}
	50% {color: #323131}
	100% {color: white;}
}

.musicBlock {
    display: none;
    margin: auto;
    width: 40%;
    height: 20%;
}

.linkBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song, .songs, .album {
    display: none;
    cursor: pointer;
    height: 40px;
    width: 120px;
    background-color: #323131;
    border: solid white 1px;
    border-radius: 10px;
    transition: opacity .3s;
}

.song:hover {
    opacity: .5;
}

.songs:hover {
    opacity: .5;
}

.album:hover {
    opacity: .5;
}

.songLink, .songsLink, .albumLink {
    display: flex;
    text-decoration-line: none;
    width: 100%;
    height: 100%;
}

.textLink {
    margin: auto;
    color: white;
    font-size: 14px;
}


.blockMore {
    display: block;
    padding-top: 5px;
    position: relative;
    margin: auto;
    width: 50%;
}
.buttonMore {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 35px;
    border: solid white 1px;
    border-radius: 10px;
    transition: opacity .3s;
}

.buttonMore:hover {
    opacity: .5;
}

.cooperating {
    display: block;
    position: relative;
    margin: auto;
    width: 50%;
    height: 80px;
}

.footerLink {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link {
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    transition: linear color .2s;
}

.link:hover {
    color: grey;
}

/* Responsive starts here */

@media screen and (max-width: 510px) {
    .header {
        width: 90%;
        height: 20%;
    }

    .button:hover {
        opacity: 1;
    }

    .card {
        width: 80%;
        height: 325px;
    }

    .artistCard {
        width: 100%;
    }

    .images {
        width: 200px;
    }

    .musicBlock {
        width: 100%;
    }

    .blockMore {
        width: 100%;
    }

    .buttonMore {
        right: 15px;
    }

    .song, .songs, .album {
        width: 110px;
    }

    .song:hover {
        opacity: 1;
    }
    
    .songs:hover {
        opacity: 1;
    }
    
    .album:hover {
        opacity: 1;
    }
    
    .cooperating {
        margin: 0;
    }

    .footerLink {
        padding-left: 15px;
    }
}